
# Note we depend on NODE_ENV being set to dictate which of the env variables below get loaded at runtime. 
# See README for more details.

# See: https://firebase.google.com/docs/admin/setup#initialize-sdk
GOOGLE_APPLICATION_CREDENTIALS=/path/to/cougargrades-testing.firebaseadminsdk.json
